<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>.dislike-button {
    background-color: none;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

{# Dislike_Button.html #}
<form method="POST" action="{% url 'like_game' %}">
    {% csrf_token %}
    <input type="hidden" name="game_id" value="{{ game_id }}">
    <input type="hidden" name="action" value="dislike">
    <button type="submit" class="dislike-button">
        <i class="fa fa-thumbs-down"></i>
    </button>
</form>
