<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
    .like-button {
        background-color: none;
        border: none;
        color: black;
        padding: 15px 32px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>

{# Like_Button.html #}
<form method="POST" action="{% url 'like_game' %}">
    {% csrf_token %}
    <input type="hidden" name="game_id" value="{{ game.AppID }}">
    <input type="hidden" name="action" value="like">
    <button type="submit" class="like-button">
        <i class="fa fa-thumbs-up"></i>
    </button>
</form>