{% block title %}Popular Games{% endblock %}

{% block content %}
    <h2>{{ section1 }}</h2>
    <p>Here is a table of the {{ section1|lower }}</p>

    <table class="Popular_Table" id="Popular_Table">
        <thead>
            <tr>
                <th>id</th>
                <th>Image</th>
                <th>Game Title</th>
                <th>Like</th>
                <th>Dislike</th>
            </tr>
        </thead>
        <tbody>
            {% for game in liked_games %}
                <tr>
                    <td>{{ game.0 }}</td>
                    <td>
                        <img class="game-icon" src="{{ game.3 }}" alt="Game Icon">
                    </td> 
                    <td>{{ game.1 }}</td>
                    <td> {% include 'Extras/Like_Button.html' with game_id=game.0 %} </td>
                    <td> {% include 'Extras/Dislike_Button.html' with game_id=game.0 %} </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
{% endblock %}