{% block title %} Search Bar {% endblock %}

{% block content %}
    <form method="get" action="{% url 'results' %}">
        {{ form.search_term }}
        <input type="text" name="search_term" placeholder="Search..." />
        {{ form.field_choice }}
        <select name="field_choice">
            <option value="Game">Game</option>
            <option value="Genre">Genre</option>
            <option value="Developer">Developer</option>
            <option value="Tag">Tag</option>
        </select>
        <button type="submit">Search</button>
    </form>

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

    {% if games %}
        <h2>Search Results:</h2>
        <ul>
            {% for game in games %}
                <li>{{ game.app_ID }} - {{ game.title }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

{% endblock %}
