{% block title %} Search Bar {% endblock %}

{% block content %}
    <form method="get" action="{% url 'results' %}">
        <input type="text" name="search_term" placeholder="Search..." />
        <select name="field_choice">
            <option value="Game">Game</option>
            <option value="Genre">Genre</option>
            <option value="Tag">Tag</option>
            <option value="Developer">Developer</option>
            <option value="Publisher">Publisher</option>
            <option value="Devoloper by Reception">Developer_by_Reception</option>
            <option value="Recommendation">Recommendation</option>

        </select>
        <button type="submit">Search</button>
    </form>
    {% if form.is_bound %}
        {% if form.errors %}
            <p>{{ form.errors }}</p>
        {% endif %}
    {% endif%}
{% endblock %}
