<!DOCTYPE html>
<html>
    <style>
        body{
            background-color: #97cfff;
        }
    </style>

    <div align="Center">
        <ul class="spacedList">
            <il><a href="Home_Page.html">Home</a></il>
            <hspace="50">
            <il><a href="/Steam_Game_Finder/Quiz_Page/templates/Quiz_Page/Quiz_Page.html">Quiz</a></il>
            <hspace="50">
            <il><a href="#">Search</a></il>
            <hspace="50">
            <il><a href="#">Info</a></il>
        </ul>
        <style>
            .spacedlist li:not(:last-child){
            
                margin-right: 50px;
                margin-left: 50px;  
                display: inline;
            }
        </style>
            
    </div>
    

    </div>
    <head>        
        <title>Home Page</title>
    </head>
    <body>
        <h1 align="Center">Steam Game Finder</h1>

        <div>
            <h2 align="Center">Welcome to Steam Game Finder</h2>
            <p align="Center">Steam Game Finder is a website that allows you to find 
                games on Steam that you might.</p>
        </div>
        <div>
            <form align="Center">
            <h3>Search Bar</h3>
            <input type="Text" name="Game_Search" id="Game_Search" placeholder="Search For A Game">
            <button id="SearchButton">Search</button>
            <script>
                // Get a reference to the button element by its ID
                var button = document.getElementById("SearchButton");
              
                // Add a click event listener
                button.addEventListener("click", function() {
                  // Code to execute when the button is clicked
                  alert("70,000 Results");
                });
              </script>
            </form>

        </div>
    </body>
</html>
