:root {
    --main-color: rgb(180, 175, 175);
    --secondary-color: rgb(69, 68, 68);
}


#foo {
    color: var(--main-color);
    background-color: var(--secondary-color);
}



.left_column {
    background-color: var(--secondary-color);
    float: left;
    width: 10%;
    height: 750px;
    border-right: 1px solid black;
}


#Body {
    background-color: var(--main-color);
    width: 100%;
    margin-left: 0%;
    margin-right: 0;
}

.Header_List {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--secondary-color);
    border-bottom: 1px solid black;
}

li {
    display: inline;
}

.right_column {
    background-color: var(--secondary-color);
    float: right;
    width: 25%;
    height: 750px;
    border-left: 1px solid black;
}



#header {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    margin-left: 0;
    margin-right: 0;
    float: left;
    width: 100%;
    color: antiquewhite;
}

#Navigation {
    margin-left: 17%;
    margin-right: 33%;
    width: auto;
    display: block;
}

.spacedList li:not(:last-child) {
    margin-right: 50px;
    margin-left: 50px;
}

.spacedList li {
    display: inline;
}


/* Style The Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: rgb(107, 106, 106);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b8b6b6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--secondary-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--secondary-color);
}

#Footer {
    background-color: var(--secondary-color);
    width: auto;
    margin-top: 600px; 
    margin-left: auto;
    margin-right: 0;
    padding-top: 45px;
}
