:root {
    --main-color: rgb(180, 175, 175);
    --secondary-color: rgb(69, 68, 68);
}

body {
    margin: 0;  /* Add this to remove default body margin */
}

.flex-container {
    display: flex;
}

.flex-item {
    flex: 1;
}

#foo {
    color: var(--main-color);
    background-color: var(--secondary-color);
}

.main-content {
    display: flex;
    background-color: var(--secondary-color);
}

.left_column {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column; /* Use flex-direction: column to stack child elements vertically */
    background-color: var(--secondary-color);
    width: 10%;
    height: 750px;
    border-right: 1px solid black;
}

.right_column {
    background-color: var(--secondary-color);
    align-self: right;
    display: flex;
    flex-direction: column; /* Use flex-direction: column to stack child elements vertically */
    width: 25%;
    height: 750px;
    border-left: 1px solid black;
    align-items: flex-start;
}

#Body {
    background-color: var(--main-color);
    display: flex;
    flex-direction: column; /* Use flex-direction: column to stack child elements vertically */
    width: 65%;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
}

header {
    background-color: var(--secondary-color);
}

#Navigation {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-color: var(--secondary-color);
    margin-left: 0;
    margin-right: 0;
    color: antiquewhite;
    text-align: center;
    border-bottom: 1px solid black;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

ul li {
    display: inline;
}

.Header_List a {
    color: antiquewhite;
    text-decoration: none;
    padding: 14px 16px;
    padding-bottom: .5em;
    font-size: 28px;
}

.Header_List a:hover {
    background-color: var(--main-color);
    color: black;
}

h1 {
    font-size: 48px;
    padding-top: .5em;
    padding-bottom: .5em;
    width: 100%;
    text-align: center;
    color: antiquewhite;
}

p {
    font-size: 18px;
    color: antiquewhite;
    text-align: center;
}

h2 {
    font-size: 28px;
    color: antiquewhite;
    text-align: center;
}

#Body h1 {
    font-size: 48px;
    color: black;
    text-align: center;
    }

#Body h2 {
    font-size: 28px;
    color: black;
    text-align: center; 
    padding-top: .5em;
    padding-bottom: .5em;
}

#Body p {
    color: black;
    font-size: 18px;
    text-align: center;

}



.spacedList li:not(:last-child) {
    margin-right: 50px;
    margin-left: 50px;
}

.spacedList li {
    display: inline;
}

/* The rest of your code remains unchanged */

/* Style The Dropdown Button */
.dropbtn {
    background-color: #000000;
    color: rgb(107, 106, 106);
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #b8b6b6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: var(--secondary-color);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: var(--secondary-color);
}

#Footer {
    background-color: var(--secondary-color);
    width: auto;
    padding-top: 3em;
    margin-top: 0px; 
    margin-left: auto;
    margin-right: auto;
    align-self: flex-end;
}



#Game_Search {
    width: 25%;
    padding: 12px 20px;
    margin-left: 25%;
    margin-right: 0;
    box-sizing: border-box;
    border-radius: 12px;
}

#Search_Section {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 33%;
    width: auto;
    display: block;
}

#SearchButton {
    background-color: var(--secondary-color);
    margin-left: 0;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25%;
}

#Popular_Table th, #Popular_Table td {
    border-color: antiquewhite;
}

#Result_Table {
    display: none;
    margin-left: auto;
    margin-right: 0;
}

table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.Result_Table {

    border-collapse: collapse;
    width: 90%;
    margin-top: 3%;
    margin-left: 30%;
}

.Result_Table th,
.Result_Table td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.Result_Table tr:hover {
    background-color: #ddd;
}

/* Style for the game icon */
.game-icon {
    max-width: 75px; 
    max-height: 75px; 
}

#Search_Results{
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    min-width: fit-content;
    min-height: fit-content;
    max-width: fit-content;
    max-height: fit-content;

}

#Body {
    padding-top: 1em;

}

.text {
    max-width: 65%;
    margin-left: 10%;
}