{% extends 'Base_Temp/Base.html' %}

{% block title %} Info Page {% endblock %}

{% block content %}
{% block main %}
<div id="Body">
    <h1>Steam_Game_Finder</h1>
    <p>What is steam game finder</p>
    <p><===========info here============></p>

    <h2>How to use</h2>
    <p>How to use steam game finder</p>

    <h3>Our mission</h3>
    <p>Our mission is to help you find games that you will enjoy playing</p>

    <h4>Our team</h4>
    <p>Our team is made up of 3 people</p>
    <p>Team member 1</p>
    <p>Team member 2</p>
    <p>Team member 3</p>

    <h5>Our tools</h5>
    <p>Our tools are</p>
    <p>Language1</p>
    <p>Framework</p>
    <p>Database</p>

    <h6>Contact Info</h6>
    <p>Our contact info is</p>
    <p>email 1</p>
    <p>email 2</p>
    <p>email 3</p>
    

</div>

{% endblock %}

{% endblock %}