{% extends 'Base_Temp/Base.html' %}

{% block title %} Info Page {% endblock %}

{% block content %}
{% block main %}



<div id="Body">
    <div class="text" align="center">
    <h2>What Is Steam Game Finder?</h2>
    <p>
        Steam game finder is our submittion for the database final project.
        This project solves the problem of finding games that you will enjoy playing.
        Most people have a hard time finding games that they will enjoy playing and 
        they spend lots of time scrolling through steam to find that perfect game.
        Steam game finder solves this problem by allowing you to search for games based on
        the criteria that you want. This allows you to find games that you will enjoy playing
        in a much shorter amount of time.
    </p>

    <h2>How to use</h2>
    <p>Its up to you, You can use the search bar to look for specific games and add them to liked
        or disliked lists with the like and dislike buttons. 
    </p>

    <h2>Our mission</h2>
    <p>Our mission is to help you find games that you will enjoy playing</p>

    <h2>Our team</h2>
    <p>Our team is made up of 3 people:</p>
    <p>Antonio Andreucci</p>
    <p>Finn Michaud</p>
    <p>Jonathan Day</p>

    <h2>Our tools</h2>
    <p>Our tools are:</p>
    <p>Python for our language</p>
    <p>Django for our web framework</p>
    <p>MySql for our database</p>
    <p>Kaggle Stripped from STEAM for our data sample</p>

    </div>
</div>

{% endblock %}

{% endblock %}