{% extends 'Base_Temp/Base.html' %}

{% block title %} Search Page {% endblock %}

{% block content %}

{% block main %}
<div id="Body">
    {% include 'Extras/Search_Bar.html' with form=form %}
    <!-- Display search results if available -->
    
    {# For Developers by Reception Search (specefic columns for this search) #}
    {% if games and "Num_Games" in games.0 %}
    <h2>Search Results</h2>
    <table>
        <thead>
            <tr>
                <th>Developer</th>
                <th>Developer Reception</th>
                <th>Number of Games</th>
            </tr>
        </thead>
        <tbody>
            {% for game in games %}
                <tr>
                    <td>{{ game.Developer }}</td>
                    <td>{{ game.Dev_Reception }}</td> 
                    <td>{{ game.Num_Games }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %} 
    
    {% if games and not "Num_Games" in games.0 %}
        <h2>Search Results</h2>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Developer</th>
                    <th>Publisher</th>
                    <th>Price</th>
                    <th>Like</th>
                    <th>Dislike</th>
                </tr>
            </thead>
            <tbody>
                <!-- slice cuts down size of array to spec. index preserve order-->
                {% for game in games %}
                    <tr>
                        <td><a href = "https://store.steampowered.com/app/{{ game.AppID }}" target="_blank">{{ game.Name }}</a></td>
                        <td>{{ game.Developer }}</td>
                        <td>{{ game.Publisher }}</td> 
                        <td>{{ game.Price }}</td>
                        <td> {% include 'Extras/Like_Button.html' with game_id=game.AppID %} </td>
                        <td> {% include 'Extras/Dislike_Button.html' with game_id=game.AppID %} </td> 
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if form.is_bound and not form.errors and games is not None and games|length == 0  %}
        {# Displayed only if there was a non succesful search #}
        <p>No matching games found. Please try different criteria.</p>
    {% endif %}
</div>
{% endblock %}

{% endblock %}