{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- Include common stylesheets -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'CSS/Main_Style.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Home_Style.css' %}">
    {% endblock %}

    <!-- Include common scripts -->
    {% block scripts %}
    <script src="{% static 'JS/Home_JS.js' %}" defer></script>
    {% endblock %}
</head>

<body>
    {% block header %}
    <header>
        <ul class="Header_List">
            <div id="header">
                <li>
                    <h1 align="center">Steam Game Finder</h1>
                </li>
            </div>
        </ul>
    </header>
    {% endblock %}

    {% block navigation %}
    <nav>
        <div id="Navigation">
            <h2 id="Links" align="center">
                <ul class="Header_List">
                    <li><a href="{% url 'Home_Page.html' %}" style="color: antiquewhite;">Home</a></li>
                    <li><a href="{% url 'Quiz_Page.html' %}" style="color: antiquewhite;">Quiz</a></li>
                    <li><a href="{% url 'Search_Page.html' %}" style="color: antiquewhite;">Search</a></li>
                    <li><a href="#" style="color: antiquewhite;">Info</a></li>
                </ul>
            </h2>
        </div>
    </nav>
    {% endblock %}

    {% block left_column %}
    <aside class="left_column">
        <div class="dropdown">
            <button class="dropbtn">Dropdown</button>
            <div class="dropdown-content">
                <a href="{% url 'Home_Page.html' %}">Home Page</a>
                <a href="{% url 'Quiz_Page.html' %}">Quiz Page</a>
                <a href="{% url 'Search_Page.html' %}">Search Page</a>
                <a href="#">Link 4</a>
            </div>
        </div>
    </aside>
    {% endblock %}

    {% block right_column %}
    <div class="right_column">
        {% include 'Extras/Popular_Table.html' with popular_games=popular_games section1=section1 %}
            {% endblock %}
    </div>
    {% block main %}
    <div id="Body">
        {# Content of the main block goes here #}
    </div>
    {% endblock %}

    {% block footer %}
    <footer id="Footer">
        <!-- Your common footer content goes here -->
        <p>&copy; 2023 My Website</p>
    </footer>
    {% endblock %}

</body>

</html>