{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Website{% endblock %}</title>
    <!-- stylesheets Files -->
    {% block styles %}
    <link rel="stylesheet" href="{% static 'CSS/reset.css' %}">
    <link rel="stylesheet" href="{% static 'CSS/Main_Style.css' %}">
    {% endblock %}

    <!-- scripts File -->
    {% block scripts %}
    <script src="{% static 'JS/Home_JS.js' %}" defer></script>
    {% endblock %}
</head>

<body>
    {% block header_and_navigation %}
    <div id="header_and_navigation">
        <header>
            <h1>Steam Game Finder</h1>
        </header>
    <!-- This div contains the Navigation bar of links to different pages -->
        <nav id="Navigation">
            <ul class="Header_List">
                <li><a href="{% url 'Home_Page.html' %}" style="color: antiquewhite;">Home</a></li>
                <!--<li><a href="{% url 'Quiz_Page.html' %}" style="color: antiquewhite;">Quiz</a></li> -->
                <li><a href="{% url 'Search_Page.html' %}" style="color: antiquewhite;">Search</a></li>
                <li><a href="{% url 'info_page_view' %}" style="color: antiquewhite;">Info</a></li>
            </ul>
        </nav>
    </div>
    {% endblock %}
        <!-- Holds the different columns -->
    <div class="main-content">
        {% block left_column %}
        <aside class="left_column">
            <!-- Left column holds the dropdown menu version of the links list -->
            <div class="dropdown" align="center">
                <button class="dropbtn" >Dropdown</button>
                <div class="dropdown-content">
                    <a href="{% url 'Home_Page.html' %}">Home Page</a>
                    <!--<a href="{% url 'Quiz_Page.html' %}">Quiz Page</a> -->
                    <a href="{% url 'Search_Page.html' %}">Search Page</a>
                    <li><a href="{% url 'info_page_view' %}">Info Page</a></li>
                </div>
            </div>
        </aside>
        {% endblock %}

        {% block main %}
            <!-- holds the middle column is inserted by other html files  -->
        <div id="Body">
            {# Content of the main block goes here #}
        </div>
        {% endblock %}

        {% block right_column %}
            <!-- contains the HTML for the right column
             This is the liked games column which holds the games the user has liked-->
        <div class="right_column">
            <!-- calls the results table held in another html file -->
            {% include 'Extras/Popular_Table.html' with liked_games=liked_games section2=section2 %}
        </div>
        {% endblock %}
    </div>

    {% block footer %}
    <footer id="Footer">
        <p>&copy; 2023 My Website</p>
    </footer>
    {% endblock %}

</body>

</html>